@import '../../styles/styles.scss';

.menuGroup-content {
 display: flex;
 list-style: none;
 line-height: $height40px;
 text-align: center;

 .menuGroup {
  cursor: pointer;
  height: $height40px;
  width: $minWidth30px + 60px;
  border-right: 1px solid $border;

  &:hover {
   background-color: $menuHover;

   .subMenu {
    display: flex;
    flex-direction: column;
   }
  }
 }
}
