.homeFooter-content {
  display: flex;
  align-items: center;

  .homeFooter-left {
    flex: 2;

    .homeFooter-left-icon {
      background: url('../../../assets/images/bookingCare.svg') center center
        no-repeat;
      height: 44px;
      width: 200px;
    }

    .homeFooter-left-text {
      .left-text-company {
        font-weight: 500;
        margin: 5px 0;
      }

      .left-text-address {
        margin: 4px 0;

        .text-address-icon {
          margin-right: 4px;
        }
      }

      .left-created-icon {
        margin-right: 4px;
      }
    }

    .homeFooter-left-label {
      display: inline-block;
      background: url('../../../assets/images/bo-cong-thuong.svg') center /
        contain no-repeat;
      margin-top: 10px;
      height: 40px;
      width: 78px;
    }
  }

  .homeFooter-mid {
    flex: 1;

    .homeFooter-mid-link {
      display: block;
      font-size: 16px;
      text-decoration: none;
      margin: 5px 0;

      &:hover {
        color: black;
      }
    }
  }

  .homeFooter-right {
    flex: 1;

    .homeFooter-right-text {
      margin-bottom: 16px;

      .right-text-title {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

.homeFooter-app {
  font-size: 18px;

  .homeFooter-app-icon {
    margin-right: 8px;
  }

  .homeFooter-app-link {
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
