.home-header-banner {
  background: url('../../../assets/images/bookingCareCover.jpg') center / cover
    no-repeat;
  height: 620px;
  position: relative;
  top: 77px;
  margin-bottom: 80px;

  .header-banner-content {
    text-align: center;
    padding: 45px 0;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(255, 255, 255, 0)
    );

    .header-banner-text {
      color: white;
      text-transform: uppercase;
      font-size: 32px;

      span {
        font-weight: 500;
      }
    }

    .header-banner-search {
      background-color: #f7d800;
      margin: 20px auto 85px;
      width: 410px;
      padding: 13px 25px;
      border-radius: 25px;
      text-align: left;

      .banner-search-input {
        width: 330px;
        border: none;
        outline: none;
        font-size: 16px;
        margin-left: 16px;
        background-color: #f7d800;
      }
    }

    .header-banner-badge {
      display: inline-flex;
      height: 32px;

      .banner-badge-google {
        background: url('../../../assets/images/google-play-badge.svg') center /
          cover no-repeat;
        width: 108px;
        margin-right: 20px;
        cursor: pointer;
      }

      .banner-badge-appStore {
        background: url('../../../assets/images/app-store-badge.svg') center /
          cover no-repeat;
        width: 108px;
        cursor: pointer;
      }
    }
  }
}

.banner-homeFooter-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0 20px;
  width: 100%;

  position: absolute;
  bottom: 0;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1)
  );

  .homeFooter-content-blocks {
    min-width: 150px;
    margin: 10px 5px;
    text-align: center;

    &:hover {
      cursor: pointer;
      .content-block-text {
        color: #45c3d2;
      }
    }

    .content-blocks-outlined {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0px auto;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .content-block-text {
      display: block;
      font-size: 24px;
      line-height: 25px;
      font-weight: 500;
    }

    .content-icon-bgr-1 {
      background: white
        url('../../../assets/images/header-footer/133537-khamchuyenkhoa.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-2 {
      background: white
        url('../../../assets/images/header-footer/133657-khamtuxa.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-3 {
      background: white
        url('../../../assets/images/header-footer/133744-khamtongquat.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-4 {
      background: white
        url('../../../assets/images/header-footer/133744-dichvuxetnghiem.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-5 {
      background: white
        url('../../../assets/images/header-footer/133744-suckhoetinhthan.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-6 {
      background: white
        url('../../../assets/images/header-footer/104635-khamnhakhoa.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-7 {
      background: white
        url('../../../assets/images/header-footer/151930-phau-thuat.jpg')
        center/70% no-repeat;
    }

    .content-icon-bgr-8 {
      background: white
        url('../../../assets/images/header-footer/133744-khamtainha.png')
        center/70% no-repeat;
    }

    .content-icon-bgr-9 {
      background: white
        url('../../../assets/images/header-footer/101157-icon-lich-su.jpg')
        center/70% no-repeat;
    }
  }
}
