@import '../../../styles/_variables';

.doctorInfo-content {
 margin-top: 77px;

 .homeHeader-content {
  background-color: #02faff;
 }

 .doctorInfo-detailes {
  display: flex;
  justify-content: space-between;

  .doctorInfo-left {
   margin: auto;
   flex: 1;
  }

  .doctorInfo-right {
   flex: 1;
  }
 }
}
