.email-verify {
  text-align: center;

  .home-header-content {
    background-color: #c6e6ff;
  }

  p {
    margin-top: 100px;
    
    h2 {
      color: rgba(0, 0, 255, 0.519);
    }

    a {
      text-decoration: underline;
    }
  }
}
