@import '../../styles/styles.scss'; //v54xx1

.header-content {
 z-index: 99;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: $colormain;
 color: $white-color;
 height: 40px;
 position: relative;

 .btn-logout {
  color: $white-color;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;

  &:hover {
   background-color: darken($colormain, 5);
  }

  i {
   font-size: $fontSize16px + 1px;
  }
 }

 .header-lang {
  margin: 0 32px 0 auto;
  color: black;

  .active {
   color: white;
  }
 }
}
