@import '../../styles/styles.scss';

.headerContainer-content {
 z-index: 99;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: $mianColor;
 color: $whiteColor;
 height: $height40;

 .headerContainer-lang {
  margin-right: 60px !important;
  line-height: $height40;
  width: $height40 * 1.5;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

  &:hover {
   background-color: $menuHoverColor;
  }
 }
}
