.changePassword-content {
 .homeHeader-content {
  background-color: #02faff;
 }

 .changePassword-info {
  margin-top: 160px;
  text-align: center;
  color: #0000ffa8;

  .changePassword-highlight {
   text-decoration: underline;
   color: red;
  }
 }
}
