@import '../../styles/styles.scss';

.subMenu {
 color: $text-in-light;
 list-style: none;
 background-color: $bg-menu-color;
 text-align: left;
 display: none;
 position: absolute;

 .subMenuLink {
  padding: 0 8px;
  line-height: $height40px - 10px;
  border-top: 1px solid #0000000f;
  color: $text-in-light;
  text-decoration-line: none;

  &.actived {
   color: $colorActive;
   font-weight: $fontWeight500;
  }

  &:hover {
   background-color: $bg-menu-color-hover;
  }
 }
}
