@import '../../../../styles/_variables';

.banner-content {
 .banner-brg {
  background-image: url(../../../../assets/images/banner/bookingCareBannerCover.jpg);
  padding-top: 48%;
  background-size: cover;
  min-height: $height100vh - 10;

  .banner-info {
   display: flex;
   flex-direction: column;
   height: 100%;

   position: absolute;
   text-align: center;
   background-image: linear-gradient(#00000051, #fff1);

   .banner-up {
    .banner-up-text {
     color: white;
     font-size: ($fontSize32 - 2);
     padding-top: $padding100;
     text-transform: uppercase;
     text-shadow: 1px 1px 2px black;
    }
   }

   .banner-mid {
    display: flex;
    justify-content: center;
    margin: $margin100 0 $margin100 + 20;

    .google-badge {
     background-image: url(../../../../assets/images/banner/google-play-badge.svg);
     height: $height40 - 8;
     width: $width100 + 20;
    }
    .apple-badge {
     background-image: url(../../../../assets/images/banner/app-store-badge.svg);
     height: $height40 - 8;
     width: $width100 + 20;
    }
   }

   .banner-down {
    position: absolute;
    top: unset;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), white);

    .banner-down-width {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     width: 96%;
     margin: auto;

     .banner-down-block {
      min-width: $width100 + 50;
      padding: ($padding24 - 9) 0;
      margin: $margin24/4;

      &:hover {
       cursor: pointer;
       .banner-block-text {
        color: #45c3d2;
       }
      }

      .banner-block-img {
       background-image: url(../../../../assets/images/bannerFooter/133537-khamchuyenkhoa.png);
       height: $height100 - 50;
       width: $height100 - 50;

       background-color: white;
       background-size: 70%;
       border-radius: 50%;
       margin: auto;
      }

      .banner-block-text {
       font-weight: 600;
      }
     }
    }
   }
  }
 }
}
