@import '_variables.scss';

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
html {
 background-image: '#fff';
 background-repeat: no-repeat;
 background-size: cover;
 font-family: $fontmain;
 font-size: $fontSize16 - 2px;
 height: $height100vh;
 overflow: hidden;
}

.BTN {
 display: inline-block;
 padding: 4px 8px;
 border-radius: 4px;
 text-align: center;
 cursor: pointer;
 color: white;

 &:hover {
  opacity: 0.8;
 }

 &.BTN-default {
  background-color: $dangerColor;
 }

 &.BTN-success {
  background-color: $successColor;
 }

 &.BTN-danger {
  background-color: $defaultColor;
 }
}
