@import 'variables.scss';

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box !important;
}

body,
html {
 background-image: '#fff';
 background-repeat: no-repeat;
 background-size: cover;
 font-family: $fontmain;
 font-size: $fontSize16px - 2px;
 height: 100vh;
 overflow: hidden;
}
