.scheduleManager-content {
  margin-top: 16px;

  .scheduleManager-content-title {
    text-align: center;
  }

  .scheduleManager-selections {
    display: flex;
    margin-top: 24px;
  }

  .scheduleManager-timeMark {
    margin-top: 16px;

    .timeMark-display {
      display: flex;

      .timeMark {
        display: flex;
        justify-content: space-between;

        .btn-timeMark {
          box-shadow: none;
          border-color: #cccccc;

          &:hover,
          &.active {
            color: white;
            background-color: #009aff;
          }
        }
      }
    }
  }

  .btn-save-mark {
    margin-top: 40px;
    text-align: center;

    button {
      min-width: 100px;
    }

    .btn-danger {
      margin-right: 34px;
    }
  }
}
