.doctorManager {
  padding: 0 8px;

  .doctorManager-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
  }

  .doctorManager-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 8px 0 4px;
    text-align: left;

    .doctorManager-info-select {
      width: 250px;
    }

    .doctorManager-info-form {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .doctorManager-input {
        input {
          height: 38px;
        }
      }
    }
  }

  .doctorManager-btns {
    margin: 8px 0;
    text-align: initial;
  }
}
