@import '../../styles/common.scss';

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;

  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;

    &:hover {
      background-color: darken($colormain, 5);
    }

    i {
      font-size: $base-size + 1px;
    }
  }

  .header-lang {
    margin: 0 32px 0 auto;
    color: black;

    .active {
      color: white;
    }
  }
}
