@import '../../styles/_variables';

.modal-customized {
 display: flex;
 align-items: center;
 height: inherit;
 min-width: 640px;
 max-width: 800px;

 .modal-content {
  .modal-header {
   align-items: unset;
   overflow: hidden;
   background-color: $primaryColorLight;
   color: white;

   .close {
    &:hover {
     background-color: #f2f2f2;
    }
   }
  }

  .modal-body {
   form {
    .form-group {
     margin: 8px 0;

     .password-eyes {
      display: flex;
      justify-content: space-between;
     }
    }
   }
  }
 }
}
