.doctorIntro-content {
 display: flex;
 align-items: center;
 padding: 24px 18px;

 .doctorIntro-left {
  margin-right: 16px;

  .doctorIntro-avatar {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   box-shadow: 1px 1px 2px grey;
  }
 }

 .doctorIntro-right {
  .doctorIntro-name {
   margin: 4px 0 12px;
   font-size: 24px;
   font-weight: 600;
  }

  .doctorIntro-desc {
   font-size: 13px;

   .bookingTime-Info {
    font-size: 16px;
    display: block;
    margin-top: -8px;
   }
  }
 }
}
